{% extends 'base.html' %}

{% block content %}
<p>
    <div class="items-leading row-fluid">
        <div class="leading-0">

            <div class="page-header">
                <h2>
                    Юрий Тихонович Каганов </h2>
            </div>
<p>
    {% load static %}
<div><img style="" src="{% static 'home/images/kaganov.jpg' %}"></div>
<strong>Руководитель междисциплинарного семинара "ЭКОБИОНИКА".</strong><br>
<br> Научные интересы: механика сложных робототехнических систем, нейроинформатика, методы оптимизации, теория принятия решений, методы искусственного интеллекта, экобионика, философия.
<br>
<br> Профессиональная деятельность: доцент кафедр: ИУ-9 (теоретическая информатика и компьютерные технологии) и РК-6 (системы автоматизированного проектирования).

<p class="readmore"><a class="btn btn-small btn-primary" href="{% url 'kaganov' %}">
    Подробнее: Юрий Тихонович Каганов </a></p>
<div class="item-separator"></div>

<div class="leading-1">

    <div class="page-header">
        <h2>
            Дмитрий Михайлович Жук </h2>
    </div>

    <div><img style="" src="{% static 'home/images/dmjuk.jpg' %}"></div>
    Родился в 1945 г. Окончил в 1969 г. МВТУ им. Н.Э. Баумана, канд. техн. наук, доцент кафедры САПР МГТУ им. Н.Э.
    Баумана. Имеет более 100 научных трудов в области автоматизации проектирования. В 1969 г. закончил с отличием МВТУ
    им. Н.Э. Баумана и был оставлен для работы на кафедре ЭВМ и систем, где работал инженером, зам. начальника машины,
    ассистентом, старшим преподавателем, доцентом.<br>
    <br>
    В 1980 г. защитил диссертацию кандидата технических наук, в 1985 г. ему было присвоено звание доцента по кафедре ЭВМ
    и систем.<br>
    С 1983 г. по наст. время работает доцентом каф. САПР.<br>
    За время работы проводил лабораторные работы и семинарские занятия, руководил выполнением курсовых и дипломных
    проектов, читал лекции по курсам Электроника, Микроэлектроника, ЭВМ и периферийные устройства, Организация ЭВМ и
    систем, Основы компьютерной графики и др.
    Руководит работой аспирантов.
    <p class="readmore">
        <a class="btn btn-small btn-primary" href="{% url 'zhuk' %}">
            Подробнее: Дмитрий Михайлович Жук
        </a>
    </p>
    <div class="item-separator"></div>
</div>
<div class="leading-2">
    <div class="page-header">
        <h2>
            Анатолий Павлович Карпенко </h2>
    </div>

    <div>
        <img style="" src="{% static 'home/images/karpenko.jpg' %}">
    </div>
    Родился в 1947 года, доктор физико-математических наук, профессор, заведующий кафедрой САПР МГТУ им. Н.Э.
    Баумана.<br> <br> Имеет более 200 научных работ в области теории автоматического управления, математического
    моделирования, методов оптимизации, методов параллельных вычислений и автоматизации проектирования.<br> <br> В 1966
    году окончил Смоленский энергетический техникум (сейчас - техникум электронных приборов) по специальности
    «Радиоприборостроение» и был призван в ряды Советской Армии. Службу проходил в Среднеазиатском пограничном
    округе.

    <p class="readmore">
        <a class="btn btn-small btn-primary" href="{% url 'karpenko' %}">
            Подробнее: Анатолий Павлович Карпенко
        </a>
    </p>
    <div class="item-separator"></div>
</div>
<div class="leading-3">
    <div class="page-header">
        <h2>
            Владимир Георгиевич Редько </h2>
    </div>
    <div>
        <img style="" src="{% static 'home/images/redko.jpg' %}">
    </div>
    Зам. руководителя Центра оптико-нейронных технологий НИИ системных исследований РАН, доктор физико-математических
    наук. В 1971 году окончил Московский физико-технический институт.<br>
    <br>
    На втором курсе Физтеха задумался над проблемой: Почему мышление человека применимо к познанию природы? Автор более
    150 научных публикаций.

    <p class="readmore">
        <a class="btn btn-small btn-primary" href="{% url 'redko' %}">
            Подробнее: Владимир Георгиевич Редько
        </a>
    </p>
    <div class="item-separator"></div>
</div>
<div class="leading-4">

    <div class="page-header">
        <h2>
            Аркадий Семенович Ющенко </h2>
    </div>

    <div><img style="" src="{% static 'home/images/yuschenko.jpg' %}"></div>
    Аркадий Семенович закончил МГТУ им. Н.Э.Баумана и МГУ им. М.В.Ломоносова (мехмат). <br> <br> Специалист в области
    автоматического управления, робототехники и эргономики. <br> <br> Автор более 200 научных работ, включая 6
    монографий.

    <p class="readmore">
        <a class="btn btn-small btn-primary" href="{% url 'yushenko' %}">
            Подробнее: Аркадий Семенович Ющенко
        </a>
    </p>
    <div class="item-separator"></div>
</div>
<span class="row-separator"></span> </div>

{% endblock %}

{% block title %}
<title>Оргкомитет</title>
{% endblock %}