{% extends 'base.html' %}

{% block content %}


<div class="item-page row-fluid">
    <div class="page-header">
        <h2>
            Немного о Экобионике </h2>
    </div>
    <p><strong>Экобио́ника - (от др.-греч. οίκος+βίον — «дом+элемент жизни») — прикладная наука, представляющая собой
        один из разделов бионики[3] и основанная на концепции техники как части развивающейся биосферы.</strong>
    <p> В экобионике технологическое развитие человечества трактуется как необходимое условие перехода глобальных
        биосоциальных и социотехнических структур в ноосферные структуры. Такой переход предполагает разработку
        технических систем с возможностью изначального их встраивания в биосферные процессы. Исследования в этом
        направлении основаны на изучении фундаментальных процессов, свойственных живым системам. Прежде всего — это
        процессы самоорганизации и возникновения структурной информации. Такого рода исследования сконцентрировались
        вокруг теории нелинейных динамических систем, которая получила общее название — синергетика. По-видимому,
        наиболее перспективное направление дальнейшего развития техники связано с его «биологизацией». В связи с этим
        открываются широкие возможности как в плане разработки новых технических концепций, так и в решении глобальных
        проблем взаимодействия техники и биосферы.
    <p><br> <br> Содержание:</p>
    <ul>
        <ul>1 Основные направления экобионики</ul>
    </ul>
    <p></p>
    <ul>
        <ul>2 Особенности экобионики и история развития</ul>
    </ul>
    <p></p>
    <ul>
        <ul>3 Уровни разработки экобионических систем</ul>
    </ul>
    <p></p>
    <ul>
        <ul>4 Основные проблемы экобионики</ul>
    </ul>
    <p></p>
    <ul>
        <ul>5 Примечания</ul>
    </ul>
    <p>&nbsp;</p>
    <h2>Основные направления экобионики</h2>
    <p>Основная концепция экобионики — это создание технических систем базирующихся на фундаментальных принципах
        развития биологических систем. При этом предполагается не точное копирование биосистем, а использование более
        глубоких механизмов, лежащих в основе процессов самоорганизации биосистем различного уровня (от молекулярного до
        биосферного) для реализации технических решений. Прежде всего исследования касаются создания искусственных
        систем, лежащих в основе теории техногенеза. В связи с этим предполагается проведение исследований в двух
        основных направлениях, между собой тесно связанных:</p>
    <ul>
        <ul>1. Разработка технических систем большого масштаба (предприятий, промышленных комплексов, региональных
            технических комплексов, техносферы в целом) в связи с их взаимодействием с биосферой.
        </ul>
    </ul>
    <p></p>
    <ul>
        <ul>2. Создание технических систем, включая наноуровень, в основе которых лежат биологические принципы
            организации живой материи.
        </ul>
    </ul>
    <p>&nbsp;</p>
    <h2>Особенности экобионики и история развития</h2>
    <p>Экобионика отличается от традиционных исследований в области бионики направленностью исследований и воссозданием
        эмерджентных свойств коллектива взаимодействующих технических и биологических систем. Бионика, возникшая в
        начале 60-х годов XX века, своим девизом избрала принцип «живые прототипы — ключ к новой технике». Казалось,
        достаточно использовать многие идеи и конструктивные решения, заложенные в живых системах, и можно будет
        создавать принципиально новые технические конструкции. Однако метод простой аналогии без разработки глубокой
        теоретической основы, лежащей за рамками чисто технической проблематики, не мог привести к существенным
        результатам. Со временем энтузиазм, связанный с традиционным бионическим подходом, постепенно стал угасать.
        Однако исследования в области робототехники, искусственного интеллекта, информационных технологий, теории
        технических систем возродили на новом уровне интерес к биоподобным техническим системам. Более того, стало
        очевидным, что закономерности развития современных технических систем близки к закономерностям развития
        биосистем. Появились такие понятия, как техноценозы, биотехноценозы, социотехноценозы и тому подобное. С другой
        стороны, исследования в области биологии (от молекулярной биологии до теории биосферы) дали очень много для
        разработки новых идей в области техники. Другим весьма важным импульсом разработки концепции экобионики
        послужила опасность грядущего экологического кризиса. Одна из наиболее важных задач экобионики — разработка
        технических систем органически встраиваемых в биосферные (экологические) процессы. При этом предполагается
        разработка таких технологических процессов, которые не выводили бы из равновесия всю структуру сложных
        взаимосвязанных экологических процессов. Само понятие «экобионика» сформировалось в начале 90-х годов XX века.
        Авторами термина «Экобионика», в том смысле, который вкладывается в этот термин в данной статье, были Каганов Ю.
        Т. и Щелкановцев С. В. Большую роль в становлении экобионики сыграли работы Кудрина Б. И. и его последователей в
        разработке нового направления — технетика.<br> <br> В дальнейшем существенный вклад в развитие экобионики внесли
        работы Редько В. Г. по эволюционной кибернетике, а также работы Анохина К. В. в области исследования мозга и
        нейрокибернетики. В 1996 году в МГТУ им. Н. Э. Баумана был организован постоянно действующий семинар
        «Экобионика», где обсуждались проблемы техногенеза и его связи с экологическими проблемами, перспективы развития
        робототехники и искусственного интеллекта, разработки в области многоагентных систем и «искусственной жизни»,
        искусственных неронных сетей, генетических и эволюционных алгоритмов, нечетких систем управления и принятия
        решений. Семинар «Экобионика» продолжает работать и в настоящее время.</p>
    <h2>Уровни разработки экобионических систем</h2>
    <p>Можно выделить 5 уровней разработки экобионических систем:</p>
    <ul>
        <ul>1) биологический, связанный с созданием адаптационных механизмов и их поддержкой при взаимодействии человека
            и биологической инфраструктуры биосферы (например, создание иерархии биосферных заповедников, изолированных
            от техногенных источников воздействия на среду);
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>2) биотехноценозный — создание экологически замкнутых биосферных структур, обладающих автономностью и
            определенными целевыми установками; каждый техноценоз должен быть хорошо согласован с деятельностью
            биогеоценоза в рамках которого он создаётся;
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>3) техногенный — разработка технических систем, создаваемых на принципах самоорганизации; такие системы
            должны иметь определённые свойства живых систем, а их «жизнедеятельность» должна органично включаться в
            биосферные процессы;
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>4) биосоциальный — разработка и согласование технических и социально-технических структур в единые
            экобиосоциальные комплексы;
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>5) психологический — разработка теории деятельности технических систем с учетом взаимодействия коллективов
            людей и экобионических систем; в перспективе создание новой информационной техники повлечет за собой и
            создание психологических теорий, связанных с исследованием и реализацией систем искусственного интеллекта и
            искусственного разума.
        </ul>
    </ul>
    <p>&nbsp;</p>
    <p>Проблема создания экобионических систем тесно связана с проблемой взаимодействия (интерфейса) человек—машина. Эта
        проблема имеет много аспектов, из которых наиболее важные социальный, психологический и эргономический аспекты.
        Колоссальный скачок в развитии информационной техники и средств связи, а также систем управления, привёл к
        принципиально новому взгляду на технические системы и их взаимоотношения с человеком. Технические системы
        приобретают характер социотехноценозов. Уже нельзя рассматривать создание технических систем вне контекста
        социальных и психологических проблем. Это особенно актуально в связи с катастрофической информационной
        активностью в семиосфере. При этом компьютерная техника играет двоякую роль, являясь и причиной, и средством
        укрощения информационного взрыва. Эта ситуация требует тщательного исследования социальных и психологических
        аспектов взаимодействия человека и информационных систем.<br> <br> <br> <strong>Особо отметим несколько
            направлений экобионических моделей, связанных с проблемами психологии:</strong></p>
    <ul>
        <ul>1. «Искусственная жизнь» — это направление, возникшее в середине 80-х годов XX века, бурно развивается,
            используя идеи, которые сформировались в начале 60-х годов XX века в рамках теории клеточных автоматов.
            Большую роль в этом направлении сыграли работы в области синергетики и теории эволюционных алгоритмов.
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>2. «Нейроинтеллект» — направление, тесно примыкающее к предыдущему направлению и связанное с исследованиями
            по созданию нейроподобных вычислительных систем, обладающих способностью к самообучению и формированию
            совместно с человеком решений в сложных ситуациях.
        </ul>
    </ul>
    <p><br><br></p>
    <ul>
        <ul>3. «Глобальный мозг» — направление, связанное с исследованием коллективного интеллекта человечества,
            объединённого с помощью информационных и сетевых (Internet) технологий в единую интеллектуальную систему.
        </ul>
    </ul>
    <p>&nbsp;</p>
</div>
{% endblock %}

{% block kaganovblock %}
<div class="col-lg-3">
    <div>
        <h3 style="font-size:24px;">Основатель семинара</h3>
        <div style="background:#eee; padding:10px; ">
            <div style="text-align:center;">
                <span style="color: #2C3E50;"><b>Юрий Тихонович Каганов</b></span>
                <br><br>
                {% load static %}
                <img src="{% static 'home/images/kaganov.jpg' %}" style="margin:0 auto;" border="0">
                <hr>
                <a href="{% url 'kaganov' %}" class="btn btn-primary btn-lg">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}
<title>Информация о сайте</title>
{% endblock %}