{% extends 'base.html' %}

{% block content %}
<div id="content" class="span12">

    <div class="item-page row-fluid">
        <div class="page-header">
            <h2>
                Юрий Тихонович Каганов </h2>
        </div>
        <p>{% load static %}
            <img src="{% static 'home/images/kaganov.jpg' %}" style="float:left; padding:10px">
            <strong>Руководитель междисциплинарного семинара "ЭКОБИОНИКА".</strong><br>Научные интересы: механика
            сложных робототехнических систем, нейроинформатика, методы оптимизации, теория принятия решений, методы
            искусственного интеллекта, экобионика, философия.<br> <br> Профессиональная деятельность: доцент кафедр:
            ИУ-9 (теоретическая информатика и компьютерные технологии) и РК-6 (системы автоматизированного
            проектирования).</p>

        <p><br>Родился в 1944 году в г. Свердловске (ныне Екатеринбург). В 1972 году закончил МГТУ им. Н.Э. Баумана по
            специальности «Автоматизированные Системы Управления». Работал в ОКБА при министерстве химической
            промышленности руководителем группы системных программистов в отделе «АСУ».<br> <br> После окончания
            аспирантуры в 1982 году МГТУ им. Н.Э. Баумана и защиты кандидатской диссертации работал в НИАТе в отделе
            «Робототехника» старшим научным сотрудником. С 1988 года - доцент кафедр "Динамика и прочность машин" и
            "Системы автоматизированного проектирования". С 2010 года - доцент кафедры "Теоретическая информатика и
            компьютерные технологи" МГТУ им. Н.Э. Баумана. Написал около 100 работ в области информатики, робототехники,
            механики, систем автоматизированного проектирования, проблем взаимодействия человек-компьютер, философии
            техники, экобионики.<br> <br> Участвовал в международных конференциях по проблемам взаимодействия
            человек-компьютер, нейроинформатики, робототехники, искусственного интеллекта.<br> <br> <br><br></p>

    </div>

</div>
{% endblock %}

{% block title %}
<title>Юрий Тихонович Каганов</title>
{% endblock %}