{% extends 'base.html' %}

{% block content %}
<div id="content" class="span12">

    <div class="item-page row-fluid">
        <div class="page-header">
            <h2>Анатолий Павлович Карпенко</h2>
        </div>
        <p>{% load static %}
            <img src="{% static 'home/images/karpenko.jpg' %}" style="float:left; padding:10px">
                Родился в 1947 года, доктор физико-математических наук, профессор, заведующий кафедрой САПР МГТУ им.
                Н.Э. Баумана.<br> <br> Имеет более 200 научных работ в области теории автоматического управления,
                математического моделирования, методов оптимизации, методов параллельных вычислений и автоматизации
                проектирования.<br> <br> В 1966 году окончил Смоленский энергетический техникум (сейчас - техникум
                электронных приборов) по специальности «Радиоприборостроение» и был призван в ряды Советской Армии.
                Службу проходил в Среднеазиатском пограничном округе.</p>

        <p><br> <br> После окончания службы в 1969 году поступил на кафедру «Системы автоматического управления» МГТУ. В
            1975 году с отличием окончил МГТУ и начал работать на кафедре САУ стажером - исследователем, а затем учился
            в аспирантуре МГТУ. <br> <br> Диссертацию на соискание ученой степени кандидата технических наук,
            посвященную исследованию эффективности сближения-уклонения одного программно-управляемого и
            позиционно-управляемого объектов, защитил в МГТУ в 1980 году. Областью научных интересов Карпенко А.П. в то
            время являлись динамические задачи теории игр и имитационное моделирование сложных динамических систем. <br>
            <br> С 1980 по 1995 годы работал последовательно в должностях младшего, старшего и ведущего научных
            сотрудников в Институте физики твердого тела и Институте высоких температур АН СССР. Во время работы в
            Институте физики твердого тела занимался автоматизацией научных исследований. Основной областью научных
            интересов Карпенко А.П. в это время стали параллельные вычисления. Во время работы в Институте высоких
            температур под руководством академика Фортова В.Е. начал заниматься математическим моделированием задач
            горения и взрыва на многопроцессорных вычислительных машинах. <br> <br> В 1995 году в Институте
            математического моделирования РАН защитил диссертацию «Параметрическое согласование вычислительных
            алгоритмов с архитектурой многопроцессорных вычислительных систем» на соискание ученой степени доктора
            физико-математических наук по специальности 05.13.18 – теоретические основы математического моделирования,
            численные методы и комплексы программ.<br> <br> С 1995 по 2006 годы работал в качестве начальника службы
            «Информационных технологий и эксплуатации АСУ» в одной из коммерческих структур и по совместительству - на
            кафедре САПР МГТУ им. Н.Э. Баумана в должности профессора. С 2012 года заведующий кафедрой САПР МГТУ им.
            Н.Э. Баумана.<br> <br> С 2006 года по настоящее время Карпенко А.П. работает в должности профессора кафедры
            САПР МГТУ.<br> <br> Основными областями научных интересов Карпенко А.П. в настоящее время являются методы
            решения однокритериальных и многокритериальные задач оптимизации, методы балансировки загрузки
            многопроцессорных вычислительных систем, методы управления многосекционными роботами-манипуляторами, методы
            обеспечения траекторной безопасности летальных аппаратов, нейросетевые алгоритмы, интеллектуальные обучающие
            системы, биоинспирированные системы управления и оптимизации. <br> <br><br></p>

    </div>

</div>
{% endblock %}

{% block title %}
<title>Юрий Тихонович Каганов</title>
{% endblock %}