{% extends 'base.html' %}

{% block content %}
<div class="item-page row-fluid">
    <div class="page-header">
        <h2>
            Литература </h2>
    </div>
</div>
1. Вернадский В.И. Биогеохимические очерки. - М.: АН СССР, 1940.<br><br>
2. Пьер Тейяр де Шарден. Феномен человека. - М.: Наука, 1987.<br><br>
3. Медоуз Д.Х., Медоуз Д.Л., Рандерс Й., Беренс Ш.У. Пределы роста. - М.: Прогресс, 1991. <br><br>
4. Медоуз Д.Х., Медоуз Д.Л., Рандерс Й. За пределами роста. - М.: Прогресс, 1994.<br><br>
5. Тимофеев-Ресовский Н.В., Воронцов Н.Н., Яблоков А.В. Краткий очерк теории эволюции. - М.: Наука, 1969.<br><br>
6. Камшилов М.М. Эволюция биосферы. - М.: Наука, 1974.<br><br>
7. Аллен Д., Нельсон М. Космические биосферы. - М.: Прогресс, 1991.<br><br>
8. Моисеев Н.Н. Расставание с простотой. - М.: АГРАФ. 1998.<br><br>
9. Гленсдорф П., Пригожин И. Термодинамическая теория структуры, устойчивости и флуктуаций. - М.: Мир, 1973.<br><br>
10. Николис Г., Пригожин И. Самоорганизация в неравновесных системах. - М.: Мир, 1979.<br><br>
11. Хакен Г. Синергетика. - М.: Мир, 1980.<br><br>
12. Эйген М., Шустер П. Гиперцикл. Принципы самоорганизации макромолекул. - М.: Мир, 1982.<br><br>
13. Князева Е.Н. Синергетике 30 лет. Интервью с профессором Г. Хакеном. "Вопросы философии".  № 3. 2000.<br><br>
14. Зубаков В.А. XXI век. Сценарии будущего: Анализ последствий глобального экологического кризиса. Санкт-Петербург. СПбГМТУ, 1995.
<br><br>
15. Становление философии техники: Техническая реальность и технетика. <br><br>
16. Вып. 3. "Ценологические исследования". Ред. и сост. Б.И. Кудрин. - М.:  Центр системных исследований, 1997.<br><br>
17. Кудрин Б.И. Введение в технетику. Томск, 1993.<br><br>
18. Дискуссия о нейрокомпьютерах. Нейроинформатика-99. "Всероссийская научно-техническая конференция". М.: МИФИ. 2000.
<br><br>
19. Уголев А.М. Естественные технологии. - М.: Наука, 1987. <br><br>
20. Хосе Ортега-и-Гассет. Избранные труды. -М.: Весь Мир. 1997.<br><br>
21. Heidegger M. Being and Time. Harper and Row: New York, 1962.<br><br>
22. Философия техники в ФРГ. М.: Прогресс. 1989.<br><br>
23. Степин В.С., Горохов В.Г., Розов М.А. Философия науки и техники. - М.: Гардарика, 1996.<br><br>
24. Тоффлер Э. Третья волна. М.: АСТ. 1999. <br><br>
25. Митчем К. Что такое философия техники? М.: Аспект Пресс. 1995.<br><br>
26. Ленк Х. Размышления о современной технике. М.: Аспект Пресс. 1996.<br><br>
</div>
{% endblock %}

{% block title %}
<title>Литература</title>
{% endblock %}