{% extends 'base.html' %}

{% block content %}
<div class="item-page row-fluid">
    <div class="page-header">
        <h2>
            План семинаров </h2>
    </div>
    <div class="alert alert-success" style="background-color: #2C3E50;">
        Междисциплинарный научный семинар <b>"ЭКОБИОНИКА"</b> (осенний семестр 2019 г.)<br> МГТУ им. Н.Э. Баумана<br>
        <b>
            <i>
                День: (вторник, через каждые 2 недели).
            </i>
        </b><br> <b><i>Время: 17.30.</i></b><br> <b><i>Место: Аудитория № 330-аЮ Главного Здания МГТУ им. Н.Э.
        Баумана</i></b></div>

    <p>1. Магазов Сергей Солимович (к.т.н., доцент каф. ИУ-9 "Теоретическая информатика и компьютерные технологии" МГТУ
        им. Н.Э. Баумана).
        <b>«Информационные ресурсы глобальных систем мониторинга океана для задач гидроакустики».</b> <br>
        <span class="label label-info" style="background-color: #2C3E50;">24.09.2019 года (вторник)</span><br>
        <br> 2. Участие в конференции
        <b>«Нейроинформатика - 2019»</b>.
        <b>Семинар отменяется.</b>
        <br>
        <span class="label label-info" style="background-color: #2C3E50;">07.10.2019 года (вторник)</span><br>
        <br> 3. Каганов Юрий Тихонович (к.т.н., доцент каф. ИУ-9 "Теоретическая информатика и компьютерные технологии"
        МГТУ им. Н.Э. Баумана).
        <b>«Символическая динамика и моделирование когнитивных функций мозга»</b>.
        <br>
        <span class="label label-info" style="background-color: #2C3E50;">22.10.2019 года (вторник)</span>
        <br> <br> 4. Гапанюк Юрий Евгеньевич (к.т.н., доцент каф. ИУ-5 «Системы обработки информации и управления» МГТУ
        им. Н.Э. Баумана.).
        <b>«Метаграфовый подход для проектирования информационных систем»</b>. <br>
        <span class="label label-info" style="background-color: #2C3E50;">05.11.2019 (вторник)</span>
        <br> <br> 5. Ключарев Петр Георгиевич (к.т.н., зам. зав. каф. ИУ-8 «Информационная безопасность»МГТУ им.
        Н.Э.Баумана)
        <b>«Обобщенные клеточные автоматы в криптографии»</b> <br>
        <span class="label label-info" style="background-color: #2C3E50;">19.11.2019 года (вторник)</span>
        <br> <br> 6. Ежов Александр Александрович (к.ф.-м.н., уч. секретарь ГНЦ РФ Троицкий Институт Инновационных и
        Термоядерных Исследований)
        <b>«Нейросетевая модель бессознательного»</b>. <br>
        <span class="label label-info" style="background-color: #2C3E50;">03.12.2019 (вторник)</span>
        <br> <br> 7. Рубцов Сергей Владимирович (координатор проекта "Институт Бионики")
        <b>«Бионика - 60 лет: итоги и перспективы. Мировой опыт институализации научного направления "Бионика"»</b>.
        <br>
        <span class="label label-info" style="background-color: #2C3E50;">17.12.2019 (вторник)</span></p>

    <div class="alert alert-success" style="background-color: #2C3E50;">
        Руководитель семинара «Экобионика»<br>
        <b>Каганов Юрий Тихонович</b>, Тел. 8(495)399-66-47(дом.), 8-925-860-59-97 (моб.). e-mail:<strong>
        yurijkaganov@gmail.com</strong></div>
    <div></div>
</div>

{% endblock %}

{% block title %}
<title>План семинаров</title>
{% endblock %}