{% extends 'base.html' %}

{% block content %}
<div id="content" class="span12">

    <div class="item-page row-fluid">
        <div class="page-header">
            <h2>Владимир Георгиевич Редько</h2>
        </div>
        <p>{% load static %}
            <img src="{% static 'home/images/redko.jpg' %}" style="float:left; padding:10px">
            Зам. руководителя Центра оптико-нейронных технологий НИИ системных исследований РАН, доктор
            физико-математических наук. В 1971 году окончил Московский физико-технический институт.<br>
            <br>
            На втором курсе Физтеха задумался над проблемой: Почему мышление человека применимо к познанию природы?
            Автор более 150 научных публикаций.

            <br><br>
            Область научных интересов: проблема происхождения интеллекта человека, когнитивная эволюция, модели
            адаптивного поведения, нейроинформатика. Специалист в области моделирования биологических информационных и
            кибернетических систем.<br>
            <br><br></p>

    </div>

</div>
{% endblock %}

{% block title %}
<title>Юрий Тихонович Каганов</title>
{% endblock %}