{% extends 'base.html' %}

{% block content %}
<div id="content" class="span12">

    <div class="item-page row-fluid">
        <div class="page-header">
            <h2>Аркадий Семенович Ющенко</h2>
        </div>
        <p>{% load static %}
            <img src="{% static 'home/images/yuschenko.jpg' %}" style="float:left; padding:10px">
            Аркадий Семенович закончил МГТУ им. Н.Э.Баумана и МГУ им. М.В.Ломоносова (мехмат). <br> <br> Специалист в
            области автоматического управления, робототехники и эргономики. <br> <br> Автор более 200 научных работ,
            включая 6 монографий.</p>

        <p><br> <br> Лауреат премии Правительства РФ в области образования. Заместитель главного редактора
            научно-технического журнала «Мехатроника, автоматизация, управление» (Изд. «Машиностроение»). Заместитель
            председателя Научно-методического совета Вузов РФ по направлению подготовки специалистов 221000 «Мехатроника
            и робототехника». Аркадий Семенович Ющенко - заведующий кафедрой «Робототехнические системы» МГТУ им.
            Н.Э.Баумана.<br> <br> Основные научные интересы - взаимодействие человека и интеллектуальных
            робототехнических систем, применение нечеткой логики для организации взаимодействия человека и робота,
            использование биологических прототипов поведения при управлении роботами; создание теории деятельности
            искусственных интеллектуальных объектов.<br> <br><br></p>

    </div>

</div>
{% endblock %}

{% block title %}
<title>Юрий Тихонович Каганов</title>
{% endblock %}