{% extends 'base.html' %}

{% block content %}
<div id="content" class="span12">

    <div class="item-page row-fluid">
        <div class="page-header">
            <h2>Дмитрий Михайлович Жук</h2>
        </div>
        <p>{% load static %}
            <img src="{% static 'home/images/dmjuk.jpg' %}" style="float:left; padding:10px">
            Родился в 1945 г. Окончил в 1969 г. МВТУ им. Н.Э. Баумана, канд. техн. наук, доцент кафедры САПР МГТУ им.
            Н.Э. Баумана. Имеет более 100 научных трудов в области автоматизации проектирования. В 1969 г. закончил с
            отличием МВТУ им. Н.Э. Баумана и был оставлен для работы на кафедре ЭВМ и систем, где работал инженером,
            зам. начальника машины, ассистентом, старшим преподавателем, доцентом.<br>
            <br>
            В 1980 г. защитил диссертацию кандидата технических наук, в 1985 г. ему было присвоено звание доцента по
            кафедре ЭВМ и систем.<br>
            С 1983 г. по наст. время работает доцентом каф. САПР.<br>
            За время работы проводил лабораторные работы и семинарские занятия, руководил выполнением курсовых и
            дипломных проектов, читал лекции по курсам Электроника, Микроэлектроника, ЭВМ и периферийные устройства,
            Организация ЭВМ и систем, Основы компьютерной графики и др.
            Руководит работой аспирантов.

            <br>
            <br>
            Руководит научно-исследовательскими работами в следующих направлениях:<br>
            Системы автоматизированного проектирования изделий электроники, микроэлектроники и вычислительной
            техники;<br>
            Системы автоматизированного проектирования изделий машиностроения и приборостроения;<br>
            Моделирование воздействий ионизирующих излучений на изделия электроники, микроэлектроники и вычислительной
            техники;<br>
            Системы автоматизированного проектирования хирургических операций (в ноябре 2006г. была прочитана лекция по
            этой тематике в Hogeschool Utrecht, The Netherlands).<br>
            <br>
            Имеет более 100 научных трудов и публикаций (например, А.Н. Божко, Д.М. Жук, В.Б. Маничев, Компьютерная
            графика: Учеб. пособие для вузов – М.: Изд-во МГТУ им. Н.Э. Баумана, 2007, 392 с.: ил.)<br>
            <br>
            Является директором УНЦ МГТУ-Бентли и центра компетенции PTC/ProTechnology МГТУ им. Н.Э. Баумана. <br>
            <br>
            Член общества IEEE Computers.<br>
            <br><br></p>

    </div>

</div>
{% endblock %}

{% block title %}
<title>Юрий Тихонович Каганов</title>
{% endblock %}